.jumbotron {
  background-color: #519658;
  color: #0a0a1f;
  margin-top: 50px;
  margin-bottom: 10px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #cfba38;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0;
}

.footer-addres-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
